$bg-black: #000000;
$bg-surface: #0E0E0E;
$bg-surface-light: #1B1B1B;
$border-color: #191919;
$white-color: #FFFFFF;
$gray-color: #777777;
$code-red-color: #F97583;
$font-stack: 'Inter', sans-serif;
$font-mono: 'JetBrains Mono', monospace;